/* reset*/
/* padding ，margin  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*main style*/
html,body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5em;
}
a{
    color: #fff;
    text-decoration: none;
}
/* navbar 导航栏 */
#navbar{
    /* background: #333; */
    
    color:#fff;
    overflow: auto;
    position: absolute;
    left: 50px;
    right: 50px;
}
#navbar a{
    color: #fff;
}
#navbar h1{
    float: left;
    padding-top: 20px;
}
#navbar ul{
    float: right;
    list-style: none;
}
#navbar ul li{
    float: left;
}
#navbar ul li a{
    display: block;
    padding: 15px 25px;
    text-align: center;
}
#navbar ul li a:hover{
    background: #444;
    color:white;
}
/* logo */
#logo{
    position: relative;
    top:15px;
    left:25px;
    width: 10%;
    height: 10%;
}
#logo:hover{
    cursor: pointer;
}
/* background photo */
.demo{
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:60%;
    min-width: 1000px;
     z-index:-1; 
     zoom: 1;  
    /* background-color:#5f6152; */
    background: url(./images/pexels-andre-furtado-370717.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
    /* opacity: 0.5; */
}
.back-photo{

    /* z-index: 2; */
    width: 100%;
    height: 100%;
    background-color: #5f6152;
    opacity: 0.9; 
    color: #fff;
    /* background:linear-gradient(#5f6152,#5f6152);  */
}
/* background text */
.back-photo .text1{
    position: absolute;
    top: 145px;
    left: 200px;
}
.back-photo .text2{
    position: absolute;
    top: 190px;
    left: 200px;
}
.back-photo .text2 h2{
    font-weight: normal;
    opacity: 0.9;
}

.back-photo h4{
    font-weight: normal;
}
.back-photo .box1{
    position: absolute;
    top: 340px;
    left: 200px;
}
.back-photo .box2{
    position: absolute;
    top: 340px;
    left: 550px;
}
.back-photo .box3{
    position: absolute;
    top: 340px;
    left: 900px;
}